.login {
    width: 60%;
    margin: 100px auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    .loginhead {
        margin-top: -40px;
        margin-bottom: 20px;

        h2 {
            display: inline-block;
            padding: 5px 88px;
            background-color: #f44336;
            border-radius: 30px;
            font-size: 28px;
            /* margin-top: 0px; */
            color: #FFf;
        }
    }
    mat-form-field {
        width: 100%;
    }
    .loginfoot {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        button {
            margin-top: 15px;
            padding: 0px 30px;
            font-size: 18px;
        }
        a {
            text-decoration: none;
        }
    }
}

.alert-danger {
    background-color: #f44336c4;
    color:#FFF;
    margin-top: 15px;
    font-size: 18px;
}

