
            <div class="subjectBox">
                <div class="row">
                    <div class="col-md-3 col-sm-12">
                        <div class="namesubject">
                            <div>اللغة العربية</div>
                        </div>
                        <div class="subBtn">
                         <button mat-raised-button color="warn"  class="mx-1">حذف</button>
                         <button mat-raised-button color="primary"  class="mx-1">عرض</button>
                         <button mat-raised-button class="mx-1 btn btn-success">ابدأ الاختبار</button>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-12">
                        <div class="namesubject">
                            <div>اللغة العربية</div>
                        </div>
                        <div class="subBtn">
                         <button mat-raised-button color="warn"  class="mx-1">حذف</button>
                         <button mat-raised-button color="primary"  class="mx-1">عرض</button>
                         <button mat-raised-button class="mx-1 btn btn-success">ابدأ الاختبار</button>

                        </div>
                    </div>
                </div>
            </div>