.navbar {
    width: 100%;
    background-color: #f44336;
    margin: 0;
    border-radius: 0;
    border: 0;
    z-index: 999;
    &.welcome {
        background-color: transparent!important;
        position: fixed;
    }
    .nav {
        a {
        color: #fff;
        font-size: 18px;
        font-weight: 500;
        transition: all 0.3s ease-in-out;
        border-bottom: 1px solid transparent;
        padding: 10px;
        margin: 5px 0;
        text-decoration: none;
        
        &:hover {
            color: #24ff24;
            border-bottom: 1px solid #24ff24;
        }
    }
    .active {
        a {
            background-color: #bd1205bf;
            box-shadow: 0px 5px 10px rgb(0 0 0 / 30%);
        }
    }
    &.mainNav {
        margin-left: 20px;
    }
    .username {
        background-color: #b10e02e6;
        padding: 7px 13px;
        color: #FFF;
        border: 2px solid #DDD;
        border-radius: 50px;
        box-shadow: 0px 2px 10px rgb(0 0 0 / 40%);
        margin-left: 20px;
    } 
}
    .navbar-brand  {
        font-size: 32px!important;
        color: #FFF;
        padding: 10px;
        img {
            display: inline-block;
            width: 40px;
        }
    } 
}
