
<mat-toolbar color="primary" class="navbar navbar-default py-2" dir="rtl">
    <div class="container"> 
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand"  routerLinkActive="active" routerLink="welcome"><img src="../../../assets/images/school_white_24dp.svg" alt=""> فاينال </a>
      </div>
  
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="d-flex align-items-center">
        <ul class="nav navbar-right d-flex align-items-center">
          <li routerLinkActive="active"><a routerLink="/new-exam">أختبار جديد</a></li>
          <li routerLinkActive="active"><a routerLink="/students">الطلاب</a></li>
          <li routerLinkActive="active"><a routerLink="/subjects">المواد </a></li>
          <li routerLinkActive="active"><a routerLink="/login">خروج</a></li>
          <li routerLinkActive="active"><a routerLink="/login">دخول</a></li>
          <li routerLinkActive="active"><a routerLink="/register">تسجيل</a></li>
          <li class="username">Mohamed</li>
        </ul>
  
      </div><!-- /.navbar-collapse -->
    </div>
  </mat-toolbar>
  