
  <div class="new-exam">
    <mat-horizontal-stepper linear #stepper [selectedIndex]="stepperIndex">
        <mat-step label="اسم المادة" [completed]="startAdd">
            <div class="AddSubject">
                <div>اسم المادة : </div>
                <mat-form-field appearance="fill" color="warn">
                    <mat-label>اسم المادة</mat-label>
                    <input matInput type="text" [formControl]="name" >
                </mat-form-field>
                <button color="warn"  mat-raised-button matStepperNext (click)="start()">ابدأ</button>
            </div>

        </mat-step>
        <mat-step label="اسئلة {{subjectName}}" [completed]="preview">
            <div class="question">
                <form [formGroup]="questionForm">
                    <mat-form-field appearance="outline" color="warn" class="queiz">
                        <mat-label>السؤال</mat-label>
                        <input matInput type="text" formControlName="question"   >
                    </mat-form-field>

                <div class="row">
                        <div class="col-md-6 col-sm-12">
                        <mat-radio-button value="answer1" (change)="getCorrect($event)"  color="warn"></mat-radio-button>
                            <mat-form-field color="warn">
                                <mat-label>أجابة A</mat-label>
                                <input matInput type="text"  formControlName="answer1" >
                            </mat-form-field>
                        </div>

                        <div class="col-md-6 col-sm-12">
                        <mat-radio-button value="answer2" (change)="getCorrect($event)"  color="warn"></mat-radio-button>
                            <mat-form-field color="warn">
                                <mat-label>أجابة B</mat-label>
                                <input matInput type="text" formControlName="answer2" >
                            </mat-form-field>
                        
                        </div>

                        <div class="col-md-6 col-sm-12">
                        <mat-radio-button value="answer3" (change)="getCorrect($event)" color="warn"></mat-radio-button>
                        <mat-form-field color="warn">
                                <mat-label>أجابة C</mat-label>
                                <input matInput type="text"  formControlName="answer3"  >
                            </mat-form-field>
                        </div>

                        <div class="col-md-6 col-sm-12">
                            <mat-radio-button value="answer4" (change)="getCorrect($event)" color="warn"></mat-radio-button>
                            <mat-form-field color="warn">
                                <mat-label>أجابة D</mat-label>
                                <input matInput type="text"  formControlName="answer4" >
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="questBtn">
                        <div>
                            <button mat-raised-button class="btn btn-success" matStepperNext (click)="submit()" disabled="{{questions.length ? false : true }}" > {{preview ? 'عرض' : 'انتهاء'}}</button>
                            <button mat-raised-button color="warn" matStepperPrevious (click)="cancel()" >الغاء</button>
                        </div>
                        <div>
                            <button mat-raised-button color="accent" (click)="clearForm()">حذف </button>
                            <button mat-raised-button color="primary" [disabled]="questionForm.invalid" (click)="createQuestion()" >حفظ</button>
                        </div>

                    </div>
                </form>
            </div>
        </mat-step>
        <mat-step label="عرض الاختبار" completed="false">
            <div class="examBox">
                <div class="examhead text-center"><h2>اختبار {{subjectName}}</h2></div>
                <div class="quizBox" *ngFor="let item of questions; let index = index">
                    <strong><span class="text-danger">سؤال 1</span> .  {{item.question}}</strong>
                    <div class="row" dir="rtl">
                        <div class="col-sm-12">
                            A. {{item.answer1}} 
                        </div>
                        <div class="col-sm-12">
                            B. {{item.answer2}}
                        </div>
                        <div class="col-sm-12">
                            C. {{item.answer3}}
                        </div>
                        <div class="col-sm-12">
                            D. {{item.answer4}}
                        </div>
                        <div class="col-sm-12">
                            <span class="text-success">الاجابة الصحيحة. {{item.correctAnswer}}</span>
                        </div>
                    </div>
                    <div class="text-start">
                        <button mat-raised-button  class="btn btn-danger" (click)="delete(index)" >حذف</button>
                    </div>
                    <hr>
                </div>
            </div>
        </mat-step>
    </mat-horizontal-stepper>
  </div>