<div class="examBox">
    <div class="examhead text-center"><h2>اختبار اللفة العربية</h2></div>
    <div class="quizBox">
        <strong ><span class="text-danger">سؤال 1</span> .  test</strong>
        <div class="row mt-3" >
            <div class="col-md-6 col-sm-12">
                <mat-radio-button value="answer1" color="warn"></mat-radio-button>
                <label>تيست</label>
            </div>

            <div class="col-md-6 col-sm-12">
                <mat-radio-button value="answer2"  color="warn"></mat-radio-button>
                <label>تيست</label>
            </div>

            <div class="col-md-6 col-sm-12">
                <mat-radio-button value="answer3"  color="warn"></mat-radio-button>
                <label>تيست</label>
            </div>

            <div class="col-md-6 col-sm-12">
                <mat-radio-button value="answer4" color="warn"></mat-radio-button>
                <label>تيست</label>
            </div>
        </div>
        <hr>
    </div>
    <div class="text-center">
        <button class="btn btn-success px-5 fs-5"> النتيجة</button>
    </div>

</div>