
.subjectBox {
    margin: auto;
    text-align: center;
    padding: 50px 0;
    .namesubject {
        position: relative;
        box-shadow: 0px 2px 10px rgba(0,0,0,0.4);
        margin-bottom: 10px ;
        border-radius: 10px;
        text-align: center;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
        margin-top: 20px;
        &:hover {
            transform: translateY(-15px);
            box-shadow: 0px 5px 10px rgba(0,0,0,0.6);

        }
        img {
            width: 100%;
            border-radius: 10px;
        }
        div {
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            text-align: center;
            /* margin: auto; */
            line-height:3;
            font-size: 35px;
            font-weight: 600;
            color: #FFF;
            background-color: #7a36f4;
            border-radius: 10px;
        }
    }
    .subBtn {
        text-align: center;
    }

}